Repository maurosilber/arm-mito: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbstripout, mdformat, taplo

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: nbstripout
    name: Remove Jupyter notebook outputs
    entry: pixi run -e lint nbstripout
    language: system
    types: [jupyter]
    require_serial: true

  - id: ruff format
    name: Format with ruff
    entry: pixi run -e lint ruff format --force-exclude
    language: system
    types: [python, pyi, jupyter]
    require_serial: true

  - id: ruff check
    name: Lint with ruff
    entry: pixi run -e lint ruff check --force-exclude --fix
    language: system
    types: [python, pyi, jupyter]
    require_serial: true

  - id: mdformat
    name: Format markdown with mdformat
    entry: pixi run -e lint mdformat
    language: system
    types: [markdown]

  - id: taplo
    name: Format TOML with taplo
    entry: pixi run -e lint taplo fmt
    language: system
    types: [toml]

Add MOMP acceleration notebook
  notebooks/MOMP_acceleration.ipynb
Due: nbstripout

Add mito area notebook
  notebooks/mito_area.ipynb
Due: nbstripout

Add stochastic notebook
  notebooks/stochastic.ipynb
  notebooks/stochastic.py
Due: nbstripout

Add rebop wheel
  pixi.lock
  pixi.toml
  wheels/rebop-0.8.3-cp310-abi3-macosx_11_0_arm64.whl
Due: taplo

Install mdformat-ruff from conda-forge
  pixi.lock
  pixi.toml
Due: taplo

Handle parameters in LoopSimulator
  src/n_mito/loop_simulator.py
Due: none

Allow ArrayLike for loop values in rebop converter
  notebooks/simbio_rebop/converter.py
  notebooks/stochastic.ipynb
  notebooks/stochastic.py
Due: nbstripout

Remove `main_variables_in_loop` from LoopSimulator
  notebooks/mito_area.ipynb
  src/n_mito/loop_simulator.py
Due: nbstripout

Add test for the loop simulator
  src/n_mito/test_loop_simulator.py
Due: none

Add ternary deterministic simulations
  notebooks/mito_fraction.ipynb
  pixi.lock
  pixi.toml
Due: nbstripout, taplo

Add volume to Bax translocation into mitochondria
  src/mito.py
Due: none

Fix volume in mito
  src/mito.py
Due: none

Add volume factor in translocation into the mitochondria
  src/mito.py
Due: none

Fix test
  src/tests/test_mito.py
Due: none

Update to rebop>=0.9
  notebooks/simbio_rebop/converter.py
  notebooks/simbio_rebop/runner.py
  pixi.lock
  pixi.toml
  wheels/rebop-0.8.3-cp310-abi3-macosx_11_0_arm64.whl
Due: taplo

noqa
  src/literature_tests/albeck2008.py
Due: none

Add sensors to corbat model
  src/corbat.py
  src/sensors.py
  src/tests/test_corbat.py
Due: none

Add sensors to mito model
  src/mito.py
  src/tests/test_mito.py
Due: none

Move sensors to ARM_Cito
  src/mito.py
  src/tests/test_mito.py
Due: none

Add dataset generation scripts
  .gitignore
  data/1_variable.py
  data/2_stochastic.py
  data/3_mitocondria.py
  data/simrebop.py
  pixi.lock
  pixi.toml
Due: taplo

Fix loop simulator
  src/n_mito/loop_simulator.py
  src/n_mito/test_loop_simulator.py
  src/n_mito/tests/test_loop_simulator.py
Due: none

Add experimental data
  data/20220314_selected_curves.parquet
Due: none

Remove rebop old converter
  notebooks/simbio_rebop/converter.py
  notebooks/simbio_rebop/runner.py
Due: none

Add overwrite and change names in stochastic
  data/2_stochastic.py
  data/3_mitocondria.py
Due: none

Fix dataset
  data/20220314_selected_curves.parquet
Due: none
